body {
    margin: 0;
    overscroll-behavior-y: none;
}

.json-container {
    min-height: 100vh;
    font-size: 17px;
    line-height: 1.6em;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    padding-left: 2.5em;
    display: block;
    box-sizing: border-box;
    &.light {
        color: #333;
        .property span {
            color: #004FAB;
        }
        .string .value {
            color: #B20002;
        }
        .number .value {
            color: #008954;
        }
        .boolean .value, .null .value {
            color: #2000FF;
        }
        .line {
            border-color: #c1c1c1;
            &:hover {
                border-color: darken(#c1c1c1, 20%);
            }
        }
        .toggle {
            fill: #b1b1b1;
        }
        .node.collapsed:hover .toggle,
        .property:hover .toggle {
            fill: darken(#b1b1b1, 20%);
        }
    }
    &.dark {
        background-color: #202124;
        color: #F5F6F7;
        .property span {
            color: #8ADDFF;
        }
        .string .value {
            color: #D88E73;
        }
        .number .value {
            color: #AED0A4;
        }
        .boolean .value, .null .value {
            color: #3D9CDB;
        }
        .line {
            border-color: #48484A;
            &:hover {
                border-color: lighten(#48484A, 20%);
            }
        }
        .toggle {
            fill: #8D8D8D;
        }
        .node.collapsed:hover .toggle,
        .property:hover .toggle {
            fill: lighten(#8D8D8D, 20%);
        }
    }
}

.property {
    position: relative;
}

.object, .array {
    > .property {
        cursor: pointer;
    }
    &.empty > .property {
        cursor: text;
    }
}

.line {
    width: 1px;
    padding: 0 5px;
    position: absolute;
    top: 30px;
    bottom: 30px;
    z-index: 1;
    border-left: 1px solid;
}

.close-bracket {
    cursor: pointer;
}

.toggle {
    height: 10px;
    width: 10px;
    position: absolute;
    left: -.8em;
    top: 4px;
    cursor: pointer;
    transition: .1s transform;
    &.collapsed {
        transform: rotate(-90deg) translate(0, -2px)
    }
}

.node {
    display: block;
    width: fit-content;
    position: relative;
    + .node {
        margin-top: .2em;
    }
    &.array, &.object {
        &.collapsed {
            cursor: pointer;
            .value {
                display: none;
            }
            > .property::after {
                content: '...';
                font-size: .8em;
            }
        }
    }
}